:root {
    --yellowcream: #f9edd7;
    --coalblack: #2d2a2a;
    --lightcream: #fcf6ec;
}

.space_name {
    font-size: 8.125rem; /* 130px */
    color: var(--coalblack);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 0.8125rem 1.8125rem rgba(0, 0, 0, 0.18); /* 13px 29px */
    margin: 0;
}

.space_icons {
    text-align: center;
    font-size: 1.875rem; /* 30px */
    font-family: "Apple Color Emoji";
    line-height: 1.2;
    letter-spacing: 2.5rem; /* 40px */
}

h1 {
    font-family: "Playfair Display";
    font-weight: bold;
    font-style: italic;
}

body {
    background: linear-gradient(
        180deg,
        rgba(253, 253, 253, 1) 0%,
        rgba(248, 236, 214, 1) 100%
    );
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensures the gradient covers the full viewport height */
}

.flex-container {
    display: flex;
    background-color: var(--yellowcream);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 60vh;
    width: 70vw;
    box-shadow: 0px 0.8125rem 1.8125rem rgba(0, 0, 0, 0.18);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 12px;
    overflow: scroll;
}

.flex-container > div {
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    min-height: 6rem; /* Set a minimum height for each item */
    flex-grow: 1;

    transition: min-height 0.3s ease-in-out;

    /* Allow items to grow */
}

.flex-container > div.ExpandedMail {
    min-height: 30rem;
}

.flex-container > div:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.you,
.receipt {
    opacity: 0.5;
}

.header {
    min-height: 175px; /* Adjust based on your design */
}

.receipt:hover,
.you:hover {
    opacity: 1;
}

.hide {
    display: none;
}

.fullscreenicon {
    height: 2.5rem;
    position: relative;
    top: 0%;
    left: 50%;
    padding-right: 3rem;
}

.plus_icon {
    font-size: 4rem;
    font-family: "Myriad Pro";
    color: var(--coalblack);
    position: absolute;
    bottom: 0%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 4rem;
    margin: 0;
}

.effect-holder {
    height: auto;
    width: 100%; /* Ensure the container takes full width */
    max-width: 100%; /* Prevents overflow */
    border-radius: 16px;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(image.png);
}

.dropdown-style {
    width: 100%; /* Ensure it takes up the full width of the parent container */

    box-sizing: border-box; /* Include padding and border in width calculation */
    color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(33px);
    background-blend-mode: overlay;
    padding: 1rem; /* Ensure it has some internal space */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.dropdown-style > img {
    width: 32px;
    margin: 0 1rem 0 0;
}

.search_box {
    font-size: 30px;
    text-align: left;

    margin: 0;
    width: 100%; /* Ensure it stretches the container */
    padding: 20px;
    background-color: #e0e0e07d;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
    color: rgba(45, 42, 42, 0.6);
}

.big_box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: scroll;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 50rem;
    margin: 2rem;
    border-radius: 30px;
    padding: 1rem;
    position: absolute;
    background-color: #ffffff7d;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
}
.search_box {
    font-size: 30px;
    text-align: left;
    margin: 0;
    width: 100%; /* Ensure it stretches the container */
    padding: 20px;
    background-color: #e0e0e07d;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
    color: rgba(45, 42, 42, 0.6);
    font-family: "Playfair Display", serif; /* Set Font*/
    border: none; /* Remove Border */
    outline: none; /*Removes outline border when clicked*/
    -webkit-appearance: none; /*Remove default webkit styling (safari)*/
    -moz-appearance: none; /*Remove default webkit styling (firefox)*/
}
.data {
    display: none;
}
.big_box > div {
    width: 100%;
    margin: 0;
    border-radius: 12px;
    color: red;
    flex-grow: 1;
    min-height: 6rem;
}
